@use './../helpers/extends.scss';

.slider {
    position: relative;
    height: 100vh;

    background-image: url('./../assets/images/bg_Slider_1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    header {
        padding: 16px 0;
        display: grid;
        justify-content: center;

        background-color: #fff;

        .header {
            display: grid;
            justify-content: space-between;
            grid-template-columns: max-content max-content max-content;
            align-items: center;

            @media screen and (max-width: 992px) {
                grid-template-columns: max-content max-content;
            }

            .header__logo {
                @media screen and (max-width: 992px) {
                    position: relative;
                    z-index: 100;
                }
            }

            .header__nav {
                display: grid;
                grid-template-columns: max-content max-content;
                align-self: center;

                @media screen and (max-width: 769px) {                   

                    .openMenu {
                        position: absolute;

                        animation-duration: 1s;
                        animation-name: openMenu;

                        bottom: 0;
                        left: 0;
                        right: 0;
                        z-index: 2;

                        display: grid;
                        align-items: center;
                        max-height: min-content;
                        min-height: 100vh;
                        padding-left: 15px;
                        padding-top: 60px;

                        background-color: #fff;
                    }
                    .closeMenu{
                        position: relative;
                        top: o;
                        left: 0;
                        right: 0;
                        z-index: 2;

                        animation-duration: 1s;
                        animation-name: closeMenu;
                    }
                }

                ul {

                    @media screen and (max-width: 769px) {
                        display: none;
                    }
                    li {
                        display: inline-block;
                        margin-right: 10px;

                        @media screen and (max-width: 769px) {
                            
                            padding: 5px;

                            animation-duration: 1.5s;
                            animation-name: showTextNav;
                            opacity: 1;
                            
                        }

                        a {
                            font-size: 12px;
                            text-decoration: none;
                            text-transform: uppercase;

                            font-family: Montserrat Regular, serif;

                            &:hover {
                                color: red;
                            }
                        }
                    }

                }

                .mobileMenuClose {
                    width: 20px;
                    height: 20px;
                    display: none;

                    @media screen and (max-width: 769px) {
                        display: block;
                        position: relative;
                        z-index: 10;
                    }

                    hr {
                        margin-bottom: 2.5px;
                    }
                }

                .mobileMenuOpen{
                    width: 20px;
                    height: 20px;
                    display: none;

                    @media screen and (max-width: 769px) {
                        display: block;
                        position: relative;
                        z-index: 10;
                    }

                    hr {
                        &:first-child{
                           transform:translate(0px, 3px) rotate(45deg);
                        }

                        &:last-child{
                            transform:translate(0px, 0px) rotate(135deg);
                        }
                    }
                    .mide{
                        display: none;
                    }
                }
            }

            .header__links {
                @media screen and (max-width: 992px) {
                    display: none;
                }
            }
        }

    }

}